@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.main {
  font-family: "Montserrat", sans-serif;
}

body.hidden {
  display: block !important;
}

body {
  background: #000;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.counter {
  cursor: pointer;
}

.whiteBg {
  background: #fff;
}

.intro {
  height: 100vh;
  background: url(../img/intro.webp) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.intro .shadow-full {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  height: 70vh;
  width: 100%;
  position: absolute;
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}
.intro .align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}
.intro__text {
  color: #ffffff;
  position: relative;
  z-index: 2;
  margin-right: 10vw;
}
.intro__text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 123%;
  /* or 59px */
  text-transform: uppercase;
  color: #ffffff;
}
.intro__text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  margin-top: 18px;
  max-width: 400px;
  color: #ffffff;
}
.intro__text a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 150px;
  width: 250px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  font-weight: 500;
  transition: border-color 0.33s ease, background-color 0.33s ease, color 0.33s ease, box-shadow 0.25s ease;
}
.intro__text a:hover {
  transition: border-color 0.33s ease, background-color 0.33s ease, color 0.33s ease, box-shadow 0.25s ease;
  color: #000;
  background: #fff;
}

.arrowarea {
  height: 350px;
  background: #000;
  padding-top: 0px;
  position: relative;
}
.arrowarea a {
  width: 38px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -50px;
}
.arrowarea a img {
  width: 100%;
}
.arrowarea .brand {
  position: absolute;
  width: 70%;
  bottom: 0px;
  left: 15%;
}

.presentationVideo {
  height: 90vh;
  width: 100%;
  display: block;
}
.presentationVideo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards {
  background: #000;
  padding-bottom: 117px;
}
.cards-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  padding: 0 0;
}
.cards__title {
  padding: 108px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 123%;
  /* or 44px */
  color: #ffffff;
}
.cards__items {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.cards__item {
  display: flex;
  align-items: center;
}
.cards__item img {
  width: 50%;
}
.cards__item.reverse {
  flex-direction: row-reverse;
}
.cards__item.reverse .cards__text {
  padding-right: 11%;
  padding-left: 0;
}
.cards__item .cards__text {
  width: 50%;
  padding: 60px 0;
  padding-left: 11%;
}
.cards__item .cards__text h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #ffffff;
  margin-bottom: 24px;
}
.cards__item .cards__text p {
  padding-bottom: 0%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  color: #ffffff;
}

.whiteSpace.about {
  padding: 75px 0px;
}

.whiteSpace {
  padding: 40px 0px;
  background: #fff;
  max-width: 1440px;
  margin: 0 auto;
}
.whiteSpace.one {
  padding: 54px 180px;
}
.whiteSpace a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  width: 250px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #000;
  color: #000;
  background: transparent;
  font-weight: 500;
  transition: border-color 0.33s ease, background-color 0.33s ease, color 0.33s ease, box-shadow 0.25s ease;
}
.whiteSpace a:hover {
  transition: border-color 0.33s ease, background-color 0.33s ease, color 0.33s ease, box-shadow 0.25s ease;
  color: #fff;
  background: #000;
}
.whiteSpace h2 {
  padding-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 123%;
  max-width: 1440px;
  margin: 0 auto;
  color: #000000;
  margin-bottom: 20px;
}
.whiteSpace p {
  max-width: 394px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

.buyCar {
  display: flex;
  align-items: center;
  background: #000;
  height: 85vh;
  position: relative;
}
.buyCar__presentation {
  width: 60%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.buyCar .flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.buyCar__data {
  padding: 110px 4%;
  color: #fff;
  width: 40%;
  height: 100%;
}
.buyCar__data h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  color: #ffffff;
  margin-bottom: 20px;
}
.buyCar__data p {
  max-width: 394px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  margin-bottom: 65px;
  color: #ffffff;
}
.buyCar .table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 50%;
  overflow: auto;
}
.buyCar .table .line-width {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #535353;
}
.buyCar .table .line-width:last-child {
  border-bottom: 1px solid #535353;
}
.buyCar .table__items {
  min-width: 250px;
  gap: 25px;
  display: flex;
}
.buyCar .table__items a {
  font-weight: 400;
  font-size: 18px;
  line-height: 91.52%;
  /* or 16px */
  text-decoration-line: underline;
  color: #ffffff;
}
.buyCar .table b {
  display: block;
  margin-right: 10px;
}
.buyCar .table__head b,
.buyCar .table__head span {
  font-weight: 700;
  font-size: 18px;
  line-height: 91.52%;
  /* or 16px */
  color: #ffffff;
}
.buyCar .table__body b {
  font-weight: 500;
  font-size: 18px;
  line-height: 91.52%;
  /* or 16px */
  color: #ffffff;
}
.buyCar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  width: 290px;
  height: 48px;
  position: static !important;
  left: 64%;
  margin-top: 92px;
  bottom: 2%;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  font-weight: 500;
  transition: border-color 0.33s ease, background-color 0.33s ease, color 0.33s ease, box-shadow 0.25s ease;
}
.buyCar .btn:hover {
  transition: border-color 0.33s ease, background-color 0.33s ease, color 0.33s ease, box-shadow 0.25s ease;
  color: #000;
  background: #fff;
}

.formSection {
  padding: 103px 0;
  background: #000;
  color: #fff;
}
.formSection.nop {
  padding-top: 231px;
  padding-bottom: 0;
}
.formSection.nop h2 {
  margin-bottom: 0;
}
.formSection h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  /* identical to box height, or 59px */
  text-align: center;
  color: #ffffff;
  margin-bottom: 19px;
  position: relative;
  z-index: 9;
}
.formSection .subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 9;
  bottom: 0px;
  display: block;
}
.formSection__bg {
  width: 100%;
  height: auto;
}
.formSection__char {
  gap: 113px;
  display: flex;
  justify-content: center;
  margin-top: -20vh;
  margin-bottom: 130px;
}
.formSection__char-item {
  text-align: center;
}
.formSection__char-item span {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  /* identical to box height, or 72px */
  color: #ffffff;
}
.formSection__char-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  color: #ffffff;
}
.formSection form {
  display: flex;
  flex-direction: column;
  max-width: 405px;
  margin: 0 auto;
  margin-top: 40px;
}
.formSection form .input {
  margin-bottom: 11px;
  background: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  font-weight: 200;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #000000;
}
.formSection form .input::-moz-placeholder {
  font-weight: 200;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #000000;
}
.formSection form .input::placeholder {
  font-weight: 200;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #000000;
}
.formSection form button {
  width: 250px;
  height: 48px;
  margin: 0 auto;
  margin-top: 55px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 5px;
}
.formSection form .check {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-top: 57px;
}
.formSection form input[type=checkbox] {
  display: inline;
  margin-top: 5px;
  /* Double-sized Checkboxes */ /* IE */ /* FF */ /* Safari and Chrome */ /* Opera */
  transform: scale(1.5);
  padding: 5px;
}
.formSection form input[type=checkbox] + label {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  color: #f4f4f4;
}
.formSection form input[type=checkbox] + label a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  color: #f4f4f4;
}
.formSection form input[type=checkbox] + label a:hover {
  text-decoration: underline;
}

.insta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  background: #000;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0px;
  color: #fff;
}
.insta img {
  max-width: 50%;
  position: relative;
  z-index: 9;
}
.insta .text {
  position: relative;
  z-index: 9;
}
.insta h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  color: #ffffff;
  margin-bottom: 17px;
}
.insta h2::before {
  content: "Наш ";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #ffffff;
  display: block;
}
.insta p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  color: #ffffff;
  margin-bottom: 85px;
  max-width: 330px;
}
.insta .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  width: 270px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  font-weight: 500;
  transition: border-color 0.33s ease, background-color 0.33s ease, color 0.33s ease, box-shadow 0.25s ease;
}
.insta .btn:hover {
  transition: border-color 0.33s ease, background-color 0.33s ease, color 0.33s ease, box-shadow 0.25s ease;
  color: #000;
  background: #fff;
}

.contacts {
  background: #000;
  padding: 0 0px;
  padding-right: 0;
  color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  padding-bottom: 100px;
}
.contacts h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  color: #ffffff;
  margin-bottom: 133px;
}
.contacts__right {
  width: 50%;
}
.contacts__left {
  width: 50%;
  padding-right: 5%;
}
.contacts img {
  position: relative;
  z-index: 0;
  width: 140%;
  height: auto;
  margin-left: -10%;
  margin-top: 0%;
}
.contacts__places {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.contacts__places b {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #ffffff;
}
.contacts__places span {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  display: block;
  color: #ffffff;
  margin-bottom: 56px;
}
.contacts__places p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* or 139% */
  margin-bottom: 20px;
  display: block;
  max-width: 211px;
  color: #ffffff;
}
.contacts__places-item.opacity {
  opacity: 0.6;
}
.contacts__places .phones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts__places .phones a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
}
.contacts__places .phones a:hover {
  text-decoration: underline;
}
.contacts__places-line {
  height: 224px;
  width: 1px;
  background: #ffffff;
}

.footer {
  position: absolute;
  bottom: 95px;
  padding: 0 20px;
  left: calc(50% - 720px);
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Gilroy";
}
.footer .logo {
  width: 175px;
}
.footer .logo img {
  width: 100%;
}
.footer ul {
  display: flex;
  gap: 57px;
  margin-right: 140px;
}
.footer ul li a {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #ffffff;
}
.footer .anchor {
  width: 34px;
}
.footer .anchor img {
  transform: rotate(180deg);
  width: 100%;
}

.formSection__char-mob {
  display: none;
}

.posf {
  position: fixed;
  width: 100px;
  top: 0;
  left: calc(50% - 50px);
}
.posf input {
  width: 100%;
  height: 55px;
  border: 1px solid;
  padding: 15px;
  text-align: center;
}

#v1,
#v2 {
  display: none;
}

#v1.active,
#v2.active {
  display: block;
}

#s1,
#s2 {
  cursor: pointer;
}/*# sourceMappingURL=kargo.css.map */